- name: Run audit command with various options on AIX
  hosts: "{{ host_name }}"
  gather_facts: false
  vars:
    host_name: usertest
    user_name: aixguest
    password_val: Password
    concat_v1: true
    output_dir: "/tmp/auditdata"

  tasks:

    - name: Start the AIX audit subsystem
      ibm.power_aix.audit:
        action: start
    - name: Start the AIX audit subsystem with fullpath auditing
      ibm.power_aix.audit:
        action: start

    - name: Suspend the audit system (audit off)
      ibm.power_aix.audit:
        action: 'off'
    - name: Suspend the audit system (audit off)
      ibm.power_aix.audit:
        action: 'off'

    - name: Restart the audit system (audit on)
      ibm.power_aix.audit:
        action: 'on'
    - name: Restart the audit system with panic mode
      ibm.power_aix.audit:
        action: 'on'
        panic: true
    - name: Restart the audit system with fullpath mode
      ibm.power_aix.audit:
        action: 'on'
        fullpath: true
    - name: Query audit subsystem status
      ibm.power_aix.audit:
        action: query

    - name: Shut down the audit subsystem
      ibm.power_aix.audit:
        action: shutdown
    - name: Shut down the audit subsystem
      ibm.power_aix.audit:
        action: shutdown
    - name: Query audit subsystem status
      ibm.power_aix.audit:
        action: query
